################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Eshop.WebApi/.vs/Eshop.WebApi
/src/Eshop.WebApi/obj
/src/Eshop.Application/obj
/src/Eshop.Core/obj
/src/Eshop.Infrastructure/obj
