################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Eshop.WebApi/.vs/Eshop.WebApi
/src/Eshop.WebApi/obj
